.scroll-up-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: green;
  transition: all 0.2s ease;
  z-index: 40;
  color: #ffffff;
  font-size: 16px;
}

.scroll-up-button:hover {
  background: #ca8a04;
}

@media (max-width: 490px) {
  .scroll-up-button {
    right: 30px;
    bottom: 20px;
    z-index: 1000;
  }
}
