@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Noto+Sans+Bengali:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-noto-sans), sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  font-optical-sizing: auto;
  width: 100%;
  position: relative;
}

html.lang-bn body {
  font-family: var(--font-noto-sans-bengali), var(--font-noto-sans), sans-serif;
}
.sectionMargin {
  margin-top: 80px;
}
