.navItems li {
  padding: 18px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.4, 0.43, 0.54, 0.54);
}

.navItems li::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  background-image: -webkit-linear-gradient(right, #216740, #FEC909);
  transition: all 0.5s cubic-bezier(0.4, 0.43, 0.54, 0.54);
  color: #fff;
}

.navItems li:hover::after {
  width: 100%;
  color: #fff;
}

.navItems li:hover a {
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 99;
  transition: all 0.5s cubic-bezier(0.4, 0.43, 0.54, 0.54);
}

.navItems li:hover .dropdownMenu li a {
  color: white !important;
}

.navItems li:hover .dropdownMenu li a {
  color: black !important;
}

.dropdownMenu li:hover a span {
  color: white !important;
}

.dropdownMenu,
.submenu3 {
  background: #fff;
  width: 290px;
  height: 243px;
  border-radius: 5px;
  position: absolute;
  top: 56px;
  box-shadow: 0 5px 15px #00000026;
  transform-origin: top;
  transition: all 0.5s cubic-bezier(0.44, 0.47, 0.64, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 3px solid greenyellow;
  color: #111 !important;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.submenu {
  width: 270px;
  height: 86px;
}

.submenu2 {
  width: 352px;
  height: 112px;
}

.dropdownMenuWrap {
  position: relative;
}

.dropdownMenuWrap:hover .dropdownMenu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
  color: #111;
}

.dropdownMenu li {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.dropdownMenu li:last-child {
  border-bottom: none;
}

.dropdownMenu li a {
  padding: 20px 20px;
  transition: all 0.5s ease-in-out;
}

.dropdownMenu li a:hover {
  margin-left: 10px;
  color: red;
}

.murterDropDown {
  position: relative;
}

.submenu3 {
  left: 290px;
  top: 0px;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  width: 243px;
  height: 100px;
}
.submenu {
  height: 290px;
}

@media only screen and (max-width: 1440px) {
  .sliderContent {
    left: 92px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .navItems {
    background: #216740;
    position: absolute;
    left: -400px;
    display: block;
    width: 220px;
    top: 0px;
    height: 100vh;
    padding: 20px;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
    z-index: 999;
  }

  .navItems li {
    padding-bottom: 16px;
    border-bottom: none;
  }

  .activeMenu {
    left: 0px;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
    z-index: 999;
  }

  .navItems li {
    color: #fff;
  }

  .activeBar,
  .bar1 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 31px;
    right: 27px;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
  }

  .bar2 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 56px;
    right: 10px;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
  }

  .activeBar span,
  .bar1 span {
    width: 25px;
    height: 2px;
    background: #111;
    display: block;
    margin-bottom: 5px;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
  }

  .activeBar span:nth-child(3) {
    rotate: -45deg;
    top: 0px;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
  }

  .activeBar span:nth-child(1) {
    rotate: 45deg;
    transition: all 0.5s cubic-bezier(0.43, 0.38, 0.68, 0.63);
  }

  .activeBar span:nth-child(2) {
    display: none;
  }
  .sliderContent {
    left: 21px !important;
  }
}

@media only screen and (max-width: 768px) {
  .activeBar,
  .bar1 {
    top: 32px;
    right: 14px;
  }

  .dropdownMenu,
  .submenu3 {
    top: 50px;
    left: 0px;
    width: 240px;
  }

  .navItems {
    width: 241px;
  }
}

@media only screen and (max-width: 500px) {
  .activeBar,
  .bar1 {
    top: 29px;
    right: 9px;
  }
  .logo{
    width:50px;
  }
  .submenu {
    height: 319px;
}
}

@media only screen and (max-width: 375px) {
  .activeBar,
  .bar1 {
    top: 29px;
    right: -5px;
  }

  .dropdownMenu,
  .submenu3 {
    top: 24px;
    left: 0px;
    width: 240px;
  }

  .navItems li {
    padding: 10px 0px;
    border: none;
  }
  .activeBar, .bar1 {
    top: 22px;
   
}
}

.murterDropDown:hover .submenu3 {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  color: black !important;
}

.dropdownMenu li:hover a span {
  color: #111 !important;
}

@media only screen and (max-width: 320px) {
  .activeBar, .bar1 {
      top: 18px;
      right: -4px;
  }
}