.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 100% !important; /* Take up 100% of available space */
  height: auto !important; /* Maintain aspect ratio */
  max-width: 400px; /* Max size for large screens */
  transition: transform 0.5s ease;
}

.swiper-slide-active {
  transform: scale(1.2);
  z-index: 15;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@media only screen and (max-width: 1024px) {
  .swiperSlide {
    max-width: 300px; 
    margin:0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .swiperSlide {
    max-width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .swiperSlide {
    max-width: 200px;
    margin: 0 auto;
  }

  .swiper-slide-active {
    transform: scale(1.1);
  }
}
