.committee-banner {
  background-image: url("../../../../../src//assets/images/banner/banner-new.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.committee-banner::after {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
}
.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
}
